.loaderContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >.loader{
        height: 100px;
        width: 100px;
        border-bottom: 5px solid;
        border-radius: 50%;
        animation: rotate 0.8s linear infinite;
        border-color: rgb(61, 61, 61);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
}